<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microclima Form</title>
</head>
<body>
    <h1>Microclima</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form method="post">
        <label>Location <input type="text" name="sede"></label><br>
        <label>Description <input type="text" name="descrizione"></label><br>
        <label>Temperature Air <input type="number" step="0.1" name="temp_aria"></label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
